.footer {
  background-color: $color3;

  &__copyright {
    font-size: 1.8rem;
    display: flex;
    padding: 1rem;
    color: $color1;
    justify-content: flex-end;
  }

  &__logo {
    padding: 1rem;
    color: $color1;
    font-size: 2rem;
    font-weight: bold;
  }
}